<section class="content"></section>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Quick links</h4>
            <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="/aboutus">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="/contactus">Contact Us</a></li>
              <li><a href="/login">Login</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>get help</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">About city travels</a></li>
              <li><a href="#">Terms and Conditions</a></li>
              <li><a href="#">Locations</a></li>
              <li><a href="#">payment options</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>buses</h4>
            <ul>
              <li><a href="#">Upper Class</a></li>
              <li><a href="#">Lower Class</a></li>
              <li><a href="#">Sleeper Coach </a></li>
              <li><a href="#">Semi-Sleeper Coach</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>follow us</h4>
            <ul>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Whats App</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
